.both-margin-banner {
  padding: 2rem 10%;
}

.dashboard-infos {
  background: rgba( 25, 25, 25, 0.65 );
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  margin-top: 100px;
}

.centered {
  width: 70%;
  display: flex;
  gap: 5rem;
  align-items: center;

  .profile-description {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .profile-info {
    font-size: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
  }
  strong {
    font-weight: 700;
  }

  .left {
    flex: 1 0 30%
  }

  .right {
    flex: 1 0 60%
  }
}


.neg-pad {
  margin-bottom: -0.2rem;
}

.center-text {
  text-align: center;
}

.grow-pad {
  padding-bottom: 2rem;
}
