// Specific CSS for your home-page
.single-margin {
  padding: 2rem 0 2rem 10%;
  .left p {
      margin-top: 3rem;
      font-size: 1.1rem;
      line-height: 2rem;
  }
}

.home-image {
  width: 900px;
  height: 500px;
  object-fit: contain;
}
