<div class="col-12 col-md-4 mb-3 card-hover-effect">
  <div class="container">
    <div class="card-museum">
      <%= image_tag museum.photo_url, class: "object-fit" %>
      <div class="contentBx">
        <h3><%= link_to museum.name, museum %></h3>
        <div class="location d-flex align-items-start">
          <i class="far fa-map"></i><p><%= museum.address %></p>

        </div>
        <div class="price">
          <h5>€ <%= link_to museum.price, museum %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
