<div class="both-margin">
  <div class="footer-container">

    <div class="item item-1">
      <h3><%= link_to "culture shot", "/", class: "brand"%></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      </p>
    </div>

    <div class="item">
      <h4>Explore</h4>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Chat</li>
      </ul>
    </div>

    <div class="item">
      <h4>My account</h4>
      <ul>
        <li>Log in</li>
        <li>My profile</li>
        <li>Dashboard</li>
      </ul>
    </div>
  </div>

  <div class="credits">
    <p>Copyright © 2022 CULTURESHOT - All Rights Reserved</p>
  </div>
</div>
