<h2>Dashboard</h2>

<h2>Wishlist</h2>
<ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <%= link_to bookmark.museum.name, museum_path(bookmark.museum) %>
        <%= link_to "Delete", bookmark_path(bookmark), method: :delete %>
      </li>
    <% end %>
</ul>

<%= link_to "To the Homepage", root_path %>
