<div class="black-container">
  <div class="both-margin">
    <%= render 'shared/navbar' %>
  </div>

  <h1>Go to a museum anytime you want!</h1>
  <p>something here</p>
</div>

<%= link_to "List of Museums", museums_path %>
