<div class="black-container">
  <div class="banner" style="background-image: url(<%= image_path("https://res.cloudinary.com/dpi7g4swb/image/upload/v1646646823/Scenic%20Photos%20for%20Homepage%20etc/Light-8-1_xozouq.jpg") %>)">
    <div class="navbar-margin">
      <%= render 'shared/navbar' %>
    </div>

    <div class="centered_text">
      <h1>Go to a museum anytime you want!</h1>
      <%# <p>explore berlin now</p><br> %>
      <%# <%= link_to "See all museums", museums_path, class: "white-btn"%>
    </div>
  </div>
</div>


<div class="parallax-container">
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b6_lu1qxd.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646586136/Scenic%20Photos%20for%20Homepage%20etc/duchamp_jp0iu5.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646586137/Scenic%20Photos%20for%20Homepage%20etc/bust2_t5u27g.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b3_h1gnyf.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b6_1_tqnpaa.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b4_frzyez.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b2_haq1e5.png" alt=" " />
  <img src="https://res.cloudinary.com/dpi7g4swb/image/upload/v1646587328/Scenic%20Photos%20for%20Homepage%20etc/b4a_qqfl8u.png" alt=" " />
</div>


<div class="row">
  <div class="col-12 col-md-4 mb-3">

    <div class="card-trip m-4 img-container">
      <img src="https://www.berlin.de/binaries/asset/image_assets/6773263/source/1626866631/624x468/" alt="alicja kwade">
      <div class="card-trip-infos">
        <div>
          <h3>Alicja Kwade: In Abwesenheit</h3>
          <p>18 September 2021 until 4 April 2022</p>
          <p>Alicja Kwade's installations in the exhibition «In Abwesenheit» («In Absence») transform constructions into models for the perception of time, space and matter.</p>
        </div>
      </div>
    </div>


    <div class="card-trip m-4 img-container">
      <img src="https://www.berlin.de/binaries/asset/image_assets/6336564/source/1643010204/624x468/" alt="helmut newton">
      <div class="card-trip-infos">
        <div>
          <h3>Helmut Newton. Legacy</h3>
          <p>18 September 2021 until 4 April 2022</p>
          <p>Alicja Kwade's installations in the exhibition «In Abwesenheit» («In Absence») transform constructions into models for the perception of time, space and matter.</p>
        </div>
      </div>
    </div>

    <div class="card-trip m-4 img-container">
      <img src="https://www.berlin.de/binaries/asset/image_assets/6772792/source/1626767224/624x468/" style="width: 350px; height: 300px; crop: fill"  alt="zanele">
        <div class="card-trip-infos">
          <div>
            <h3>Zanele Muholi</h3>
            <p>26 November 2021 until 13 March 2022</p>
            <p>The Gropius Bau in Berlin is dedicating the first retrospective in Germany to the South African activist and photographer Zanele Muholi.</p>
          </div>
        </div>
      </div>

  </div>
</div>


<div class="white-container">
  <div class="single-margin">
    <div class="left">
      <h2>Lorem ipsum dolor sit amet dolourt</h2>
      <p>
        The best feature makes you better, with the latest technology to meet your needs. Of course,
        with such features as organizing schedules and leading assignments, it will make you easier, So
        get the application now!
      </p>
    </div>
    <div class="right">
      <%= cl_image_tag("https://res.cloudinary.com/dpi7g4swb/image/upload/v1646659586/Scenic%20Photos%20for%20Homepage%20etc/test2_pivmsx.png", :width=>900, :crop=>"fill") %>
    </div>
  </div>
</div>
