<div class="col-12">
<div class="row">
<div class="d-flex">
<p>You will be redirected in <span id="timer"></span> seconds</p></div></div></div>
<script>
let count = 3;
function anim() {
  const timerField = document.querySelector("#timer")
  console.log(timerField)
    if (count > 0) {
        console.log(count);
        timerField.innerText = count
        count--;
        setTimeout(anim, 1000);
    }
    else {
      window.location='<%= Museum.find(params[:museum_id]).ticket_url %>'
    }
}
anim();

</script>
