.banner {
  background-size: cover;
  background-position: center;
  // height: 40rem;
  border-radius: 25px;
  text-align: center;
  height: 100vh;
  margin: -2rem -2% 0 -2%;
}

.centered_text {
  display: inline-block;
  width: 60vh;
  text-align: center;
  margin-top: 3rem;
  h1 {
    font-size: 3.5vw;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  p {
    font-size: 2vw;
    font-weight: 200;
  }
}


.centered-text-redirect {
  width: 60vh;
  text-align: center;
  margin-top: 3rem;
  h1 {
    font-size: 3.5vw;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  p {
    font-size: 1.5vw;
    font-weight: 200;
  }
}
