.white-btn {
  background-color: #fff;
  color: $dark-gray;
  border-radius: 20px;
  padding: 5px 24px;
  border: none
}


.white-btn:hover {
  background-color: $dark-gray;
  color: #fff;
  border: none
}

.btn-dark {
  background-color: #fff;
  color: #212121;
  border-radius: 20px;
  padding: 5px 24px;
  border: none;
  color: white;
}

#Topics {
  padding: 5px 24px;
  border-radius: 20px;
  &:click, &:active, &:focus, &:blur {
    text-decoration: none !important;
    outline: none;
  }
}
