// the wrapper for the whole chat pop-up
.chat-popup {
  position: absolute;
  bottom: 50px;
  right: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hidden {
  display: none !important;
}


// the wrapper for the chatroom(aka top part of the chat-popup)
.chatroom {
  background: white;
  margin-top: 9px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
