// .chatroom {
//   box-sizing: border-box;
//   width: 25%;
//   position: absolute;
//   bottom: 23px;
//   right: 28px;
// }

.chat-popup {
  box-sizing: border-box;
  width: 25%;
  position: absolute;
  bottom: 23px;
  right: 28px;
}

.hidden {
  display: none;
}
