.section {
  margin: 2rem 2%;
}

.black-container {
  background-color: $dark-blue;
  border-radius: 25px;
}

.white-container {
  background-color: white;
  border-radius: 25px;
  color: #000;
  margin: 3rem 10%;
}

.both-margin {
  padding: 5rem 10%;
}

.single-margin {
  padding: 1rem 0 5rem 10%;
  display: flex;
  align-items: center;
  gap: 5rem;
  overflow: hidden;

  .left {
    flex: 1 0 40%;
  }
  .right {
    flex: 1 0 60%;
  }
}

.map {
  border-radius: 25px 0 0 25px;
}

.image-museum {
  border-radius: 25px 0 0 25px;
  height: 600px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-item {
  flex-grow: 2;
  padding-right: 1rem;
}

.sidebyside {
  display: flex;
  justify-content: center;
}


.container-ex {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-1 card-2 card-3"
    ". . ."
    ". . .";
}

.card-1 { grid-area: card-1; }

.card-2 { grid-area: card-2; }

.card-3 { grid-area: card-3; }
