.section {
  margin: 2rem 2%;
}

.black-container {
  background-color: $dark-blue;
  border-radius: 25px;
  color: #fff;
}

.both-margin {
  padding: 2rem 10%;
}

.single-margin {
  padding: 2rem 0 5rem 10%;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.map {
  border-radius: 25px 0 0 25px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-item {
  flex-grow: 2;
  padding-right: 1rem;
}
