.section {
  margin: 2rem 2%;
}

.black-container {
  background-color: $dark-blue;
  border-radius: 25px;
  color: #fff;
}

.both-margin {
  padding: 2rem 10%;
}

.single-margin {
  padding: 2rem 0 2rem 10%;
}
