.footer-both-margin {
  padding: 5rem 12% 2rem 12%;
}

.footer-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.item {
  width: 10rem;
  font-weight: 300;
}

.item-1 {
  flex-grow: 2;
  margin-right: 4rem;
}

.credits {
  border-top: 1px solid #FFD700;
  padding: 25px 0px 0px 0px;
  text-align: center;
  margin-top: 1rem;
}


.footer-ul {
  list-style: none;
}

.footer-ul li::before {
  content: "\2022";
  color: gold;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
