.mapboxgl-popup-content {
  background-color: #101010;
  border-radius: 15px;

}
.infos {
  color: white;
}

// .btn-info:hover {
//   border-radius: 5px;
//   background-color: #101010;
//   color: #e5e3d9;
//   transform: scale(1.5);
// }



.btn-info {
  z-index: 3;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-family: "Optima";
  background: rgba(16, 16, 16, 0.2);
  border: 1px solid #ffd700;
  font-size: 10px !important;
  padding: 9px !important;
  cursor: pointer !important;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 500ms linear;
}

.btn-info:before {
  content: '';
  background: linear-gradient(45deg, #ffd700, black, #fffb00, #ffd700);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}
.btn-info:hover {
  transition: background-color 500ms linear;

}

.btn-info:active {
  color: #000
}

.btn-info:active:after {
  background: transparent;
}

.btn-info:hover:before {
  opacity: 1;
}

.btn-info:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
