body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h1, p, h2, h3, a, cite, span {
  font-family: "Optima";
}

.name {
  color: #ffd700;
}
p {
  font-weight: 100;
}
h2 {
  font-size: 2.5rem;
}

.navbar-brand, .footer-brand {
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  position: relative;
  font-size: 24px;
}

.footer-brand {
  font-size: 16px;
}

.footer-brand::before, .navbar-brand::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd700;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.footer-brand:hover::before, .navbar-brand:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.article-link {
  font-weight: 600;
  font-family: 'Optima', serif;
  position: relative;
  font-size: 14px;
}

.article-link::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd700;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.article-link:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

#exhibitions {
  margin-top: 250px;
}

label {
  font-family: "Optima";
}

.alert-info, .alert-warning {
  border-radius: 1px solid #ffd700;
  background-color: #101010;
  color: white;
  border-radius: 5px;
  font-family: "Optima";
}
