.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-margin {
  padding: 2rem 10%;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  position: relative;

}

.navbar-brand::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd700;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
