.reviews-container {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  // gap: 5rem;

  .left {
    flex: 1 0 30%;
  }
  .right {
    flex: 1 0 70%;
  }
}


.stars-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  p {
    font-size: 4rem;
    margin-bottom: -0.8rem !important;
  }
}


#star {
  font-size: 22px;
  color: #FFD700;
}


.reviews-btn-container {
  display: flex;
  justify-content: center;
}

.padding {
  padding-top: 0.9rem;
}

.btn-reviews {
  background-color: white;
  padding: 1rem 4rem;
  border: none;
  border-radius: 0.5rem;
}

.btn-no-bg {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 700;
}




span {
  position: relative;
}

span::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

span:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}



.noreviews-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}


.margin-vertical {
  margin-top: -5rem !important;
  margin-bottom: -7rem !important;
}

.inline {
  display: flex;
  gap: 5rem;
  align-items: center;
  .left {
    flex: 1 0 55%;
  }
  .right {
    flex: 1 0 35%;
  }
}

.change-color {
  color: black;
}


.btn-dark-white {
  background-color: black;
  padding: 0.5rem 4rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: white !important;
}

.white {
  color: white !important;
}
