.reviews-container {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  // gap: 5rem;

  .left {
    flex: 1 0 30%;
  }
  .right {
    flex: 1 0 70%;
  }
}

.stars-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  p {
    font-size: 4rem;
    margin-bottom: -0.8rem !important;
  }
}


#star {
  font-size: 22px;
  color: #FFD700;
}


.reviews-btn-container {
  display: flex;
  justify-content: center;
}

.padding {
  padding-top: 0.9rem;
}

span {
  position: relative;
}

span::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

span:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}



.noreviews-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}


.margin-vertical {
  margin-top: -5rem !important;
  margin-bottom: -7rem !important;
}

.inline {
  display: flex;
  gap: 5rem;
  align-items: center;
  .left {
    flex: 1 0 55%;
  }
  .right {
    flex: 1 0 35%;
  }
}

.btn-dark-white {
  background-color: white;
  color: black;
  padding: 0.5rem 4rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s linear;
}
.btn.white:hover {
  color: white !important;
}

.btn-dark-white:hover {
  background-color: #101010;
  padding: 0.5rem 4rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s linear;
}

.modal-body {
  background-color: rgba(16, 16, 16, 0.7);
  border-left: 1px solid #ffd700;
  border-right: 1px solid #ffd700;
  border-bottom: 1px solid #ffd700;
  border-radius: 0px 0px 10px 10px;
}

.modal-header {
  background-color: rgba(16, 16, 16, 0.7);
  border-left: 1px solid #ffd700;
  border-right: 1px solid #ffd700;
  border-top: 1px solid #ffd700;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #ffd700;
}

.modal-content {
  background-color: rgba(16, 16, 16, 0.7);
}


#exampleModalLabel {
  font-family: "Optima";
  color: white;
}

.form-label.string.required, .form-label.text.required, .form-label.select.required {
  color: white;
}
