<!-- app/views/flats/_info_window.html.erb -->
<div class="container">
  <div class="flex align-content-center">
    <p class="infos" ><%= museum.name %></p>
    <p class="infos" ><%= museum.address %></p>
    <%= link_to "Click to Visit", museum_path(museum), class: "btn-gold"%>
  </div>
</div>
