<!-- app/views/flats/_info_window.html.erb -->

  <p class="infos" ><%= museum.name %></p>
  <p class="infos" ><%= museum.address %></p>
  <%= link_to "Click to Visit", museum_path(museum), class: "btn-info"%>
