<!-- app/views/flats/_info_window.html.erb -->

<p style="color:black" ><%= museum.name %></p>
<p style="color:black"><%= museum.address %></p>
<p style="color:black"><%= link_to "Click to Visit", museum_path(museum) %></p>
